/*ELEMENT SELECTORS*/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color: #990000;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
  font-size: 4.5rem;
}
h2{
  color: #990000;
  font-family: 'Montserrat',serif;
  font-size: 2.5rem;
}
h3{
  color: #990000;
  font-family: 'Montserrat',serif;
  margin-bottom: 10px;
  font-size: 1.25rem;
}
hr{
  border-color: #990000;
  border-style: dotted none none;
  border-width: 7px;
  width: 50%
}
p{
  color: #003300;
}
span{
  text-decoration: underline;
}

/*CLASS SELECTORS*/
.top-container{
  padding-top: 100px;
  background-color: #b3ccff;
  position: relative;
  padding-bottom: 100px;
}
.middle-container{
  background-color: #e6ccff;
}
.top-volleyball{
  position: absolute;
  right: 250px;
  top: 50px;
}
.bottom-volleyball{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skills{
  padding: 50px;
}
.skill-row{
  line-height: 2;
  margin: 70 auto 80 auto;
  width: 100%;
  position: relative;
}
.team-row{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px 50px 50px;
}
.ukai{
  margin: 8px 50px 12px 10px;
  width: 15%;
  float: left;
}
.shimizu{
  margin: 8px 50px 12px 10px;
  width: 15%;
  float: right;
}
.bottom-container{
  padding: 50px 50px 30px 50px;
  background-color: #ffa64d;
}
.footer-link{
  font-family: 'Montserrat',serif;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
}
.footer {
  color: #eaf6f6;
  margin-top: 40px;
  font-family: serif;
  font-size: 0.8rem;
}
.contact-me {
  padding: 40px;
}
.mail-me {
  padding: 25px;
}
.contact-btn {
  padding: 10px 20px;
  margin: 40px auto 60px auto;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  display: inline-block;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(#66bfbf, #11999e);
}
.contact-btn:hover {
  background-image: linear-gradient(#11999e, #66bfbf);
}
.profile {
  padding: 70px 50px 50px;
}
.about {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}
